---
layout: _layouts/bt/reading-mode.html
---

{% assign folderPath = page.inputPath | split: "/" | slice: 0, -1 | join: "/" %}

{% assign dirFiles = collections.all | where_exp: "i", "i.inputPath contains folderPath" %}

{% assign en_item = dirFiles | where_exp: "i", "i.inputPath contains 'en.md'" | first %}
{% assign sp_item = dirFiles | where_exp: "i", "i.inputPath contains 'sp.md'" | first %}
{% assign tok_item = dirFiles | where_exp: "i", "i.inputPath contains 'tok.md'" | first %}

{% assign size = story.tokLines.size | minus: 1 %}

<div class="selo">

  {% if beforeText %}
  <div class="back-forth">
    <a href="{{ beforeLink }}">{{ beforeText }}</a>
    <a href="{{ nextLink }}">{{ nextText }}</a>
  </div>
  {% endif %}

  <h1 id="main-content">{{ title }}</h1>
  <div class="content-wrap">
    <div class="content">

      <figure class="context">
        <img alt="{{ alt }}" class="{{ genre }}" src="{{ media }}">
        <figcaption>
          <p>
            <span class="caption">{{ alt }}</span>
            {% if external %}
            <span class="attr">
              <a href="{{ external }}">Image: {{ name }}</a>
              |
              by <strong>{{ source }}</strong>.

              {% assign license_match = false %}

              {% for linked_license in licenses %}
              {% if linked_license.key == license %}
              {% assign license_match = true %}
              {% assign license_link = linked_license.link %}
              {% endif %}
              {% endfor %}
              |
              {% if license_match %}

              <a href="{{ license_link }}"> {{ license }}</a>

              {% else %}

              <span>{{ license }} (This link is broken)</span>

              {% endif %}
              {% endif %}
          </p>

        </figcaption>
      </figure>

      <div class="regular">
        <div class="tok">
          <h2>sitelen Lasina</h2>
          {{ tok_item.content }}
        </div>
        {% if en_item %}
        <div class="en">
          <h2>English</h2>
          {{ en_item.content }}
        </div>
        {% endif %}
        {% if sp_item %}
        <div class="indented sp">
          <h2>sitelen pona</h2>
          {{ sp_item.content }}
        </div>
        <div class="unindented sp">
          {% for paragraph in story.spFlattened %}
          <h2>sitelen pona</h2>

          <p>
            {% for sentence in paragraph %}
            {{ sentence | remove: '<br>' | remove: 'zz' | remove: '^>' | remove: '>^' | remove: '^' }}.
            {% endfor %}
          </p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="inject1 table">
        <table>
          <thead>
            <tr>
              <th lang="tok">toki pona</th>
              <th lang="en">English</th>
              <th class="sp">sitelen pona</th>
            </tr>
          </thead>
          <tbody>
            {% for i in (0..size) %}

             {% assign tokLine = story.tokLines[i] %}
              {% assign enLine = story.enLines[i] %}
              {% assign spLine = story.spLines[i] %}
              {% assign element =  'span' %}
              {% assign class =  '' %}


              {% if tokLine contains '###' %}
                {% assign class =  'visible-heading' %}

               {% if tokLine contains '####' %}
                  {% assign element =  'h3' %}
                {% else %}
                  {% assign element = 'h2' %}
                {% endif %}
                {% assign tokLine = story.tokLines[i] | remove: '####' | strip %}
                {% assign enLine = story.enLines[i] | remove: '####' | strip %}
                {% assign spLine = story.spLines[i] | remove: '####' | strip %}
                {% if tokLine contains '###' %}
                  {% assign tokLine = story.tokLines[i] | remove: '###' | strip %}
                  {% assign enLine = story.enLines[i] | remove: '###' | strip %}
                  {% assign spLine = story.spLines[i] | remove: '###' | strip %}
                {% endif %}
              {% endif %}
            <tr class="{{ class }}">
             
              <td lang="tok">
                <{{ element }}>{{ tokLine }}</{{ element }}>
              </td>
              <td lang="en">
                <{{ element }}>{{ enLine }}</{{ element }}>
              </td>
              <td class="indented sp">
                <{{ element }}>{{ spLine }}</{{ element }}>
              </td>
              <td class="unindented sp">
                <div>
                  <{{ element }}>{{ spLine | remove: '<br>' | remove: 'zz' | remove: '^>' | remove: '>^'
                  | remove: '^' }}</{{ element }}>
                </div>
              </td>
            </tr>
            {% endfor %}
<!-- 
{% for i in (0..size) %}
  {% assign tokLine = story.tokLines[i] %}
  {% assign enLine = story.enLines[i] %}
  {% assign spLine = story.spLines[i] %}
  
  {% if tokLine contains '####' or enLine contains '####' or spLine contains '####' %}
    <tr>
      <td colspan="4">
        <h3>
          {{ tokLine | remove: '####' | strip }} / 
          {{ enLine | remove: '####' | strip }} / 
          {{ spLine | remove: '####' | strip }}
        </h3>
      </td>
    </tr>
  {% elsif tokLine contains '###' or enLine contains '###' or spLine contains '###' %}
    <tr>
      <td colspan="4">
        <h2>
          {{ tokLine | remove: '###' | strip }} / 
          {{ enLine | remove: '###' | strip }} / 
          {{ spLine | remove: '###' | strip }}
        </h2>
      </td>
    </tr>
  {% else %}
    <tr>
      <td lang="tok">{{ tokLine }}</td>
      <td lang="en">{{ enLine }}</td>
      <td class="indented sp">{{ spLine }}</td>
      <td class="unindented sp">{{ spLine | remove: '<br>' | remove: 'zz' | remove: '^>' | remove: '>^' | remove: '^' }}.</td>
    </tr>
  {% endif %}
{% endfor %}            






-->





          </tbody>
        </table>
      </div>
      <div class="inject2 lines">
        {% for i in (0..size) %}
        <div class="line">
          <p lang="tok">{{ story.tokLines[i] }}</p>
          <p class="indented sp">{{ story.spLines[i] }}</p>
          <p class="unindented sp">{{ story.spLines[i] | remove: '<br>' | remove: 'zz' | remove: '^>' | remove: '>^' |
            remove: '^' }}.</p>
          <details lang="en">
            <summary>en</summary>
            <p>{{ story.enLines[i] }}</p>
          </details>
          <details lang="tok">
            <summary>sitelen Lasina</summary>
            <p>{{ story.tokLines[i] }}</p>
          </details>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>

<script src="/scripts/mode-configure.js"></script>
<script src="/scripts/mode-configure2.js"></script>

<script>
  console.log("{{ page }}");
</script>