---
layout: _layouts/bt/texts-base.html

---

<section class="menu" aria-labelledby="rc">
    <h2 id="rc" class="visually-hidden">Reading Controls</h2>
    <div class="main-controls">
        <fieldset id="rc-1" class="texts">
            <legend>Version</legend>
            <label for="rc-1a">
                <input type="checkbox" name="english" id="rc-1a">
                Show English</label>
            <label for="rc-1b">
                <input type="checkbox" name="sp-show" id="rc-1b">
                Show Sitelen Pona</label>
            <label for="rc-1c">
                <input type="checkbox" name="sp-hide" id="rc-1c" checked>
                Show Sitelen Lasina</label>
        </fieldset>
        <fieldset id="rc-bl-1" class="by-line">
            <legend>Versions</legend>
            <label for="rc-bl-1a">
                <input type="radio" name="version" id="rc-bl-1a">
                Toki Pona/English</label>
            <label for="rc-bl-1b">
                <input type="radio" name="version" id="rc-bl-1b">
                Sitelen Pona/Sitelen Lasina</label>
            <label for="rc-bl-1c">
                <input type="radio" name="version" id="rc-bl-1c" checked>
                Sitelen Pona/English</label>
        </fieldset>
        <fieldset id="rc-2">
            <legend>Mode</legend>
            <label for="rc-2a">
                <input type="radio" name="mode" id="rc-2a" value="rc-2a" checked>
                Regular Mode</label>
            <label for="rc-2b">
                <input type="radio" name="mode" id="rc-2b" value="rc-2b">
                Quiz Mode</label>
            <label for="rc-2c">
                <input type="radio" name="mode" id="rc-2c" value="rc-2c">
                Line by Line Mode</label>
            <label for="rc-2d">
                <input type="radio" name="mode" id="rc-2d" value="rc-2d">
                Table Mode</label>
        </fieldset>
        <fieldset id="rc-3">
            <legend>Image Settings</legend>
            <label for="rc-3a">
                <input type="checkbox" name="image" id="rc-3a" checked>
                Show Image</label>
            <label for="rc-3b">
                <input type="checkbox" name="description" id="rc-3b" checked>
                Show Description</label>
            {% if external %}
            <label for="rc-3c">
                <input type="checkbox" name="attribution" id="rc-3c">
                Show Attribution</label>
            {% endif %}
        </fieldset>
    </div>
    <div class="expanded-menu">
        <fieldset>
            <legend>UCSUR preference </legend>
                        <label for="rc-4a">
                <input type="radio" id="rc-4a">
                Use ASCII
                
            </label>

            <label for="rc-4b">
                <input type="radio" id="rc-4b">
                Use UCSUR on Current Page

                
            </label>
            <label for="rc-4c">
                <input type="radio" id="rc-4c">
                Use UCSUR Always
                
            </label>
        </fieldset>
                <fieldset>
            <legend>SP Layout Style </legend>
                        <label for="rc-5a">
                <input type="radio" name="sp-pref" id="rc-5a" checked>
                Indented
                
            </label>

            <label for="rc-5b">
                <input type="radio" name="sp-pref" id="rc-5b">
                Flat with Interpunct ·

            </label>
            <label for="rc-5b">
                <input type="radio" name="sp-pref" id="rc-5b">
                Flat with CJK Final 。︁	
            </label>
        </fieldset>
        
        
    </div>

<button class="expanded" id="expanded-menu-toggle">
Expand
</button>


</section>

<main data-story-id="{{ page.url }}">
    {{ content }}
    
    <div class="pseudo-footer">
        <a class="if-enabled" href="/toki-pona/beginner-material/mi/">Tracker</a>

        <label class="reading-list-checkbox if-enabled" for="reading-list">
            <span id="reading-list-label-content"></span>
            <input id="reading-list" type="checkbox"></input>
        </label>
        {% if nextLink %}
        <a href="{{ nextLink }}">Next</a>
        {% endif %}

    </div>

    <div class="complicated-license">
        {% if license == "GFDL-1.2" %}
        <div>
            Permission is granted to copy, distribute and/or modify this document under the terms of the <a href="https://www.gnu.org/licenses/old-licenses/fdl-1.2.txt" target="_blank">GNU Free Documentation License, Version 1.2</a> only as published by the Free Software Foundation; with no Invariant Sections, no Front-Cover Texts, and no Back-Cover Texts. A copy of the license is included in the section entitled <a href="/toki-pona/beginner-material/GFDL/">GNU Free Documentation License</a>. 
        </div>
        {% endif %}
        {% if license == "CC-BY-NC-4.0" %}
        <div>
            Note: Only the text of this page is licensed under CC-BY-SA. See <a href="/toki-pona/beginner-material/index.html#licensing-quirk">About Creative Commons: CC-BY-NC</a> for details

        </div>
        {% endif %}
    </div>


</main>

<script src="/scripts/store-reading-list.js"></script>
<script src="/scripts/ucsur.js"></script>
<script src="/scripts/sitelen-pona.js"></script>