---
layout: _layouts/bt/landing.html
title: Topic Texts
tags: generalb
stylesheet: /assets/css/tp.css

---

<style>
  .chromium-fix{
    height: 100%;
    object-fit: cover;
  }
  .chromium-fix img{
    min-height: 100%;
    width: 100%;
  }
  .collage{
    overflow-y: hidden;
  }
  .stories details{
    position: relative;
    z-index: 3;
    right: 0;
    font-size: 0.8em;
    padding: 0 2em;
  }
  .stories p:has(+ details) {    
    margin-block-end: 0;
  }

</style>


{{ content }}

  
  <ul class="stories">
    {% for item in collections[sequenceName] %}
    <li>
      <a href="{{ item.url }}">
        <h2 lang="tok">{{ item.data.title }}</h2>
      </a>
      <p>{{ item.content }}</p>
      <div tabindex="-1" role="img" aria-label="{{ item.data.alt }}" class="collage">
        {% for link in item.data.mediaFiles %}
        <div class="chromium-fix"><img aria-hidden="true" src="{{ link }}" alt=""></div>
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>
</main>