---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}

        {% if parentName %}
        | {{ parentName }}
        {% endif %}

        | Beginner Stories </title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% if stylesheet %}
    <link rel="stylesheet" href="{{ stylesheet }}">
    {% endif %}


</head>

<body>

    <header>
        <a href="#main-content" class="skip">Skip Navigation</a>
        <div class="introtext">
            <p>Beginner Texts in Toki Pona

            </p>
        </div>
        <div class="second-header">
            <nav>
                <ul>
                    <li><a {% if title=="Home" %} aria-current="page" {% endif %}
                            href="/toki-pona/beginner-material/">Home</a></li>
                    <li><a {% if title=="Topic Texts" %} aria-current="page" {% endif %}
                            href="/toki-pona/beginner-material/suli/">Topic</a></li>
                    <li><a {% if title=="Bit-Sized Texts" %} aria-current="page" {% endif %}
                            href="/toki-pona/beginner-material/lili/">Bite-Sized</a></li>
                    <li><a {% if title=="Quest Texts" %} aria-current="page" {% endif %}
                            href="/toki-pona/beginner-material/wawa/">Quest</a></li>
                </ul>
            </nav>
            <button popovertarget="targettheme" id="home-settings-toggle">
                <span>Theme</span>
                <svg role="presentation" height="800px" width="800px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
<circle cx="256" cy="256" r="157.302" style="fill:none; stroke:var(--walo);stroke-width:1.2em;" /><path style="fill:var(--walo);"  d="M113.421,256c0-53.689,29.689-100.447,73.534-124.766c43.843,24.317,73.534,71.075,73.534,124.766  s-29.689,100.447-73.534,124.766C143.11,356.448,113.421,309.691,113.421,256z"/>
<g>
<path style="fill:var(--walo);" d="M256,98.698c-7.855,0-14.222-6.367-14.222-14.222V14.222C241.778,6.367,248.145,0,256,0   c7.854,0,14.222,6.367,14.222,14.222v70.254C270.222,92.331,263.855,98.698,256,98.698z"/>
<path style="fill:var(--walo);" d="M256,512c-7.855,0-14.222-6.367-14.222-14.222v-70.254c0-7.855,6.367-14.222,14.222-14.222   c7.854,0,14.222,6.367,14.222,14.222v70.254C270.222,505.633,263.855,512,256,512z"/>
<path style="fill:var(--walo);" d="M497.778,270.222h-70.254c-7.854,0-14.222-6.367-14.222-14.222s6.369-14.222,14.222-14.222h70.254   c7.854,0,14.222,6.367,14.222,14.222S505.633,270.222,497.778,270.222z"/>
<path style="fill:var(--walo);" d="M84.476,270.222H14.222C6.367,270.222,0,263.855,0,256s6.367-14.222,14.222-14.222h70.254   c7.855,0,14.222,6.367,14.222,14.222S92.331,270.222,84.476,270.222z"/>

	
</g>
</svg>

            </button>

        </div>
        <div aria-labeledby="input-6" id="targettheme" class="light-dark-modes" popover>
                <button><span id="dismiss-light-dark">Dismiss</span></button>
                <form>
                    <fieldset>
                        <legend class="light-dark-modes-header" id="input-6">Select Theme</legend>
                            <label for="6e">
                                <input type="radio" name="darklightmode" id="6e">
                                System Default
                            </label>
                        <fieldset aria-describedby="input-6">
                            <legend>Higher Contrast</legend>
                            <label for="6a">
                                <input type="radio" name="darklightmode" id="6a">
                                Light Mode
                            </label>
                            <label for="6b">
                                <input type="radio" name="darklightmode" id="6b">
                                Dark Mode
                            </label>
                        </fieldset>
                        <fieldset aria-describedby="input-6">
                            <legend>Lower Contrast</legend>
                            <label for="6c">
                                <input type="radio" name="darklightmode" id="6c">
                                Light Mode
                            </label>
                            <label for="6d">
                                <input type="radio" name="darklightmode" id="6d">
                                Dark Mode
                            </label>
                        </fieldset>
                    </fieldset>
                </form>
            <!--<select name="header-theme-selector" id="header-theme-selector">
<option value="mercedes">System Default</option>
  <optgroup label="Higher Contrast">
    <option value="volvo">Light Mode</option>
    <option value="saab">Dark Mode</option>
  </optgroup>
  <optgroup label="Lower Contrast">
    <option value="mercedes">Light Mode</option>
    <option value="audi">Dark Mode</option>
  </optgroup>
</select>  -->

        </div>
    </header>
    {{ content }}
    <footer>
        <div>
            <a href="/">Back to Lakuse's Site.</a>

            <p>Hosted on <a href="https://neocities.org/site/raacz">Neocities</a>, made with <a
                    href="https://www.11ty.dev/">Eleventy</a>, a simpler static site generator. </p>

            <p>Content is <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a> Lakuse
                unless stated otherwise. </p>


            {% if bg %}
            <a class="{{ bg.bg-cc }}" href="{{ bg.bg-img }}">Background</a>
            {% if bg.adapted %}
            adapted from
            {% endif %}
            <a href="{{ bg.bg-external }}">{{ bg.bg-name }}</a> (CC-BY-SA-4.0).
            {% endif %}


            {% assign bg = backgrounds[background] %}
            {% if bg %}
            <p class="background">
                <a class="{{ bg.bg-cc }}" href="{{ bg.bg-img }}">Background</a>
                {% if bg.adapted %}adapted {% endif %}
                from <a href="{{ bg.bg-external }}">{{ bg.bg-name }}</a>
                ({{ bg.bg-license | default: "CC-BY-SA-4.0" }}).
            </p>
            {% endif %}

            <p><a href="/toki-pona/beginner-material/sitemap/">Site Map.</a></p>
            <span class="back-to-main">

            </span>
        </div>

    </footer>
</body>

</html>
<script src="/scripts/dark-mode.js"></script>