---
layout: _layouts/base.html
title: Site Map
backto: /miscellaneous/
eleventyImport:
  collections: ["moo"]
---








<ul>
<h2>Site Pages</h2>
{% assign pages = collections.laksite | sort: "data.title" %}
{% for post in pages %}

{% if post.data.title %}
    {% if post.data.tags %}
    {% else %}

    <li><a href="{{ post.url }}">{{ post.data.title }}</a>
{% endif %}
</li>
{% endif %}
{%- endfor -%}
</ul>
<h2>Posts</h2>
<ul>
{% for post in pages %}
{% if post.data.title %}
{% if post.data.tags %}



    
    {% if post.data.slug  %}
    <li>
        <a href="
        {%- if post.data.tags contains 'review' -%}
        /reviews/index.html
        {%- elsif post.data.tags contains 'moo' -%}
        /toki-pona/mooooooooooooooo/index.html
        {%- elsif post.data.tags contains 'asl' -%}
        /blog/asl/asl-log/index.html
        {%- endif -%}
        #{{ post.data.slug }}">{{ post.data.title }}</a> tagged: {{ post.data.tags | join: ", " }} </a>
    </li>
    {% else %}
        <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a> tagged: {{ post.data.tags | join: ", " }} 
        </li>
    {% endif %}





    {% endif %}
{% endif %}
{%- endfor -%}
</ul>


