/*This is the general CSS for reading mode entries that feature: English/SL/SP and an image

It is active on pages with the reading-mode.html layout. Note that there are several configurable options for the layout of this page. Here is how we handle all of them:


Language/Script: Show English/Show Sitelen Pona/Show Sitelen Lasina: via CSS by checking for status of :checked

Image Settings: via CSS by checking for status of :checked

Modes:
- Regular Mode is the normal view of the text. 

- Quiz mode is a stripped version of the text with ONLY sitelen Lasina and sitlen pona toggleable. Options for 'Show English' and 'Show image' disappear. 

- Line by Line mode hides the language/scrip panel and replaces it with a new toggle between sitelen pona and sitelen lasina, it hides the regular mode texts.

- Table Mode does similar behaviour.

*/

@font-face {
    font-family: "nasin nanpa";
    src: url(/assets/nasin-nanpa-4.0.2.otf);
}

.sp {
    font-family: "nasin nanpa";
}

body {
    grid-template-rows: auto auto 1fr auto;
    /*ensuring additional space is added to main container, not to the control section*/
}

main {
    max-width: 100%;
}

/*The configurable menu.*/
.menu {
    background-color: var(--walo-lili);
    border-block-end: var(--thin, 0.1em) solid var(--pimeja);
    position: relative;
}

.main-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.menu label {
    white-space: nowrap;
}

.menu fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    margin: inherit;
    align-items: flex-start;
    flex: 1;
    max-width: 35em;
    padding-block: 0.35em 0.625em;
}

.menu legend {
    text-transform: uppercase;
    width: 100%;
    flex-grow: 0;
    padding-inline-start: 1em;

    display: inline;
    flex: 100%;
    float: left;
    box-shadow: inset 0 0 0 var(--thin, 0.1em) var(--pimeja);
}

.menu p {
    margin: 0;
    padding: 0;
}



/*logic for hiding different versions of menu*/
/*In regular mode, hide table and line*/

/*In line mode, hide regular*/
:has( :is(input[id="rc-2c"]:checked)) fieldset:is(.texts) {
    display: none;
}

/*In not in line mode, hide regular and table*/
:has(:is(input[id="rc-2c"]:not(:checked))) fieldset:is(.by-line) {
    display: none;
}



/*logic for hiding aspects of image*/
/*hide image if box is not checked*/
:has(input[id="rc-3a"]:not(:checked)) .context img {
    display: none;
}

/*also ensure that the caption does not get pushed to the side on its own*/
:has(input[id="rc-3a"]:not(:checked)) figure.context {
    max-width: 100%;
    width: 100%;
    align-items: center;
    border: none;
}

:has(input[id="rc-3a"]:not(:checked)) figcaption {
    max-width: fit-content;
    width: 100%;
    border: var(--thin, 0.1em) solid var(--pimeja);
    /*shifting border is required to keep the width at 100% while maintaing the clean look of the original*/
}

:has(input[id="rc-3b"]:not(:checked)) .caption {
    display: none;
}

:has(input[id="rc-3c"]:not(:checked)) .attr {
    display: none;
}

/*for spacing reasons, ensure the entire component gets erased when*/
/*all elements are supposed to be gone are hidden*/
:has(input[id="rc-3b"]:not(:checked)):has(input[id="rc-3c"]:not(:checked)):has(input[id="rc-3a"]:not(:checked)) figure {
    display: none;
}




/*'shows english logic*/
/*regular mode*/
/*if box is not checked, english hidden*/
body:has(input[id="rc-1a"]:not(:checked)) .regular .en {
    display: none;
}

/*if box is not checked, tok hidden*/
body:has(input[id="rc-1c"]:not(:checked)) .regular .tok {
    display: none;
}

/*if box is not checked, sp hidden*/
body:has(input[id="rc-1b"]:not(:checked)) .regular .sp {
    display: none;
}

/*line mode*/
/*Toki Pona/English Mode*/
/*all sitelen pona hidden*/
body:has(input[id="rc-bl-1a"]:checked) .line .sp {
    display: none;
}

body:has(input[id="rc-bl-1a"]:checked) .line details.lasina {
    display: none;
}


/*sp/sl mode*/
/*sitelen Lasina hidden*/
body:has(input[id="rc-bl-1b"]:checked) .line .lasina:not(details.lasina) {
    display: none;
}

/*hide english details*/
body:has(input[id="rc-bl-1b"]:checked) .line details[lang="en"] {
    display: none;
}


/*sp/en mode*/
/*sitelen Lasina hidden*/
body:has(input[id="rc-bl-1c"]:checked) .line .lasina {
    display: none;
}

/*hide tok details*/
body:has(input[id="rc-bl-1c"]:checked) .line details.lasina {
    display: none;
}




/*table mode*/
/*if box is not checked, english hidden*/
body:has(input[id="rc-1a"]:not(:checked)) .table [lang="en"] {
    display: none;
}

/*if box is not checked, tok hidden*/
body:has(input[id="rc-1c"]:not(:checked)) .table .lasina {
    display: none;
}

/*if box is not checked, sp hidden*/
body:has(input[id="rc-1b"]:not(:checked)) .table .sp {
    display: none;
}





/*logic for hiding different modes*/
/*In regular mode, hide table and line*/
:has( :is(input[id="rc-2a"]:checked)) :is(.lines, .table) {
    display: none;
}

/*In quiz mode, hide table, line, and english*/
:has(:is(input[id="rc-2b"]:checked)) :is(.lines, .table,
    label:has(input[id="rc-1a"]),
    /* as well as English toggle*/
    fieldset[id="rc-3"],
    /* image settings*/
    figure, .en

    /* and the image itself*/
) {
    display: none;
}

/*In quiz mode, hide table and line*/
:has( :is(input[id="rc-2b"]:checked)) p {
    line-height: 1.1em;

}

/*In line mode, hide regular and table*/
:has( :is(input[id="rc-2c"]:checked)) :is(.regular, .table) {
    display: none;
}

/*In table mode, hide regular and line*/
:has(:is(input[id="rc-2d"]:checked)) :is(.regular, .lines) {
    display: none;
}


:has([id="rc-5a"]:checked) .indented {
    display: block;
}

:has([id="rc-5a"]:checked) .unindented {
    display: none;
}

:has([id="rc-5b"]:checked) .indented {
    display: none;
}

:has([id="rc-5b"]:checked) .unindented {
    display: block;
}







/*mode-agnostic styles*/
.selo {
    box-shadow: 0 0 0 var(--thin, 0.1em) var(--pimeja);
    padding: 2em;
}

.content {

    display: inline-flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    column-gap: 1em;
    row-gap: 1em;
    width: fit-content;

}

.content-wrap {
    display: flex;
    justify-content: center;
}

h1 {
    width: 100%;
    text-align: center;
    margin-block: 0.5em 1em;
}

figure {
    display: inline-flex;
    flex-direction: column-reverse;
    flex-grow: 0;
    align-items: center;
    row-gap: 1em;

}

figure img {
    max-width: 80%;
    max-height: 20em;
    height: 100%;
    border: var(--thin, 0.1em) solid var(--pimeja);


}

figcaption {
    width: 100%;
    max-width: 20em;
    border-bottom: none;


}

figcaption p {
    background-color: var(--walo-pimeja);
    margin: 0;
    line-height: 1.6em;
}

figcaption a:is(:visited, :not(:visited)) {
    color: var(--pimeja);
}


p:last-of-type {
    margin-bottom: 0;

}

.attr {
    background-color: var(--walo-lili);
    font-size: 0.8em;
    line-height: 1em;
    display: block;
    padding: 0.5em;

}

.caption {
    padding: 0.5em;
    display: block;
}

nav ul {
    padding: 0;
}

.introtext {
    padding: 0.5em;
}

/*regular mode styling*/

.regular {
    display: flex;
    align-items: flex-start;
    column-gap: 1em;
    flex-wrap: wrap;
}

.regular div:is(.en, .tok, .unindented) {
    min-width: 9em;
}

.regular div:is(.indented) {
    width: fit-content;
    min-width: 6em;
    max-width: max-content;
    flex: 1;
}

.regular p:empty {
    display: none;
}

.regular :is(.tok, .en, .unindented) {
    flex: 1.5;
    max-width: 20em;
}

:has(.wawa) .regular {
    flex-direction: column;
}

:has(.wawa) .regular :is(.tok, .en, .unindented) {
    max-width: 40em;
}

:has(.wawa) figure {
    width: 100%;
}

h2:not(.visible-heading h2) {
    /*visually hidden*/
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

}

:has(.wawa) .regular div p:nth-of-type(1)::before {
    content: '';
    height: 0.2em;
    width: 100%;
    display: block;
    background-color: var(--pimeja);
    margin-block: 2em;
}

/*specifically dealing with headings in quest texts*/


/*table mode*/
:has(.wawa) .table .visible-heading :is(h2, h3) {
    font-size: 1.2em;
    padding: 1em 0.25em;
    margin: inherit;
    font-weight: inherit;

}

:has(.wawa) .table tr.visible-heading td {
    text-align: center;
    margin-block: 1em;
    /*background-color: var(--contrast-black);
    color: var(--contrast-white);*/
}

/*lbl*/
:has(.wawa) .line.visible-heading :is(h3, h4):is(details *) {
    font-size: inherit;
    padding: 0;
    margin: 1em 0em;
    font-weight: inherit;
}

:has(.wawa) .line.visible-heading :is(h3, h4):not(details *) {
    font-size: 1.2em;
    padding: 0;
    margin: 1em 0em;
    font-weight: normal;
}

/*regular*/

:has(.wawa) .regular :is(h3, h4) {
    padding: 0;
    font-weight: inherit;
}

:has(.wawa) .regular h3 {
    font-size: 1.2em;
}

:has(.wawa) .regular h4 {
    font-size: 1.1em;
    margin-block: 2.5em 1em;
}

:has(.wawa) .regular:has(h3) div {
    margin-block-end: 2.5em;
}
















/*line mode styling*/

:has(#rc-2c:checked) .content {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.line {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 1em;
    border-block-end: 0.1em solid var(--pimeja);
    position: relative;
    padding-block-start: 1.5em;
    padding-inline: 0.1em;
}

.line:first-of-type {
    border-block-start: 0.1em solid var(--pimeja);

}

.lines {
    width: 100%;
    max-width: 30em;
}

.line details summary {
    position: absolute;
    right: 0;
    top: 0;
}

.line details[closed] * {
    display: block;
    visibility: hidden;
}

.line summary::after {
    content: '';
    position: absolute;
    top: 0;
    content: '';

    bottom: 0;
    left: 0;
    right: 0;
}

/*.line details[open] summary::after {
    content: 'Close';
    text-align: right;
    position: static;
    display: block;
    width: 200vw;
    height: 5em;
    margin-block-start:-2em;
    background: transparent; 
}*/
.line:focus-within {
    outline: 0.2em solid var(--pimeja);
    border-radius: 0.1em;
}

.line p {
    margin: 0em;
}

summary:focus {
    outline: none;
}

.line details p {
    text-align: end;
    padding-block: 0.5em;
}

/*table mode styling*/

.table :is(tr) {
    display: flex;
    column-gap: 1em;
    border-bottom: 0.1em solid var(--pimeja);
}

.table :is(td, th):not(:has(.sp)) {
    flex: 3;
    max-width: 20em;
}

.table :is(td, th):has(.sp) {
    max-width: fit-content;
    flex: 1;
    flex: auto;
}

@media (max-width: 30em) {
    :has(#rc-1a:checked):has(#rc-1b:checked):has(#rc-1c:checked) .table :is(tr) {
        width: 100%;
        display: grid;
        grid-template-columns: 3em 1fr;
        justify-items: end;
        grid-template-areas:
            ". td-tok"
            ". td-en"
            ". td-sp";
    }

    :has(#rc-1a:checked):has(#rc-1b:checked):has(#rc-1c:checked) .table .lasina {
        grid-area: td-tok;
    }

    :has(#rc-1a:checked):has(#rc-1b:checked):has(#rc-1c:checked) .table td {
        position: relative;
        padding-block: 10px;
        width: 100%;
    }

    :has(#rc-1a:checked):has(#rc-1b:checked):has(#rc-1c:checked) .table .lasina::before {
        content: 'toki pona' / "";
        position: absolute;
        left: -5em;
        font-size: 0.8em;
    }

    :has(#rc-1a:checked):has(#rc-1b:checked):has(#rc-1c:checked) .table [lang="en"] {
        grid-area: td-en;
    }

    :has(#rc-1a:checked):has(#rc-1b:checked):has(#rc-1c:checked) .table [lang="en"]::before {
        content: 'English' / "";
        position: absolute;
        left: -5em;
        font-size: 0.8em;
    }

    :has(#rc-1a:checked):has(#rc-1b:checked):has(#rc-1c:checked) .table .sp {
        grid-area: td-sp;
    }

    :has(#rc-1a:checked):has(#rc-1b:checked):has(#rc-1c:checked) .table .sp::before {
        content: 'sitelen pona' / "";
        position: absolute;
        left: -5em;
        font-size: 0.8em;
    }


    :has(#rc-1a:checked):has(#rc-1b:checked):has(#rc-1c:checked) .table tr.visible-heading :is(h2, h3) {
        padding: inherit;
        font-size: inherit;
        line-height: 1.6em;
        margin: 0;
        display: inline;

    }


        :has(#rc-1a:checked):has(#rc-1b:checked):has(#rc-1c:checked) tbody:has(> :first-child.visible-heading)::before {
        content: '';
        display: block;
        width: 100%;
        height: var(--visible-heading-offset);
    }
        :has(#rc-1a:checked):has(#rc-1b:checked):has(#rc-1c:checked) :has(+ tr.visible-heading){
        margin-block-end: var(--visible-heading-offset);
    }

    :has(#rc-1a:checked):has(#rc-1b:checked):has(#rc-1c:checked) .table tr.visible-heading td {
        text-align: inherit;
        margin-block: inherit;
    }
    :has(#rc-1a:checked):has(#rc-1b:checked):has(#rc-1c:checked) .table tr.visible-heading{
        padding-top: 3em;
        position: relative;
    }
    :has(#rc-1a:checked):has(#rc-1b:checked):has(#rc-1c:checked) .table tr.visible-heading::before{
        content: 'Section Heading';
        text-decoration: underline;
        position: absolute;
        left: 0;
        top: 1em;
    }

    :has(#rc-1a:checked):has(#rc-1b:checked):has(#rc-1c:checked) .table th {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }


}













h1 {
    font-size: 1.1em;
    font-family: Jost;
}


.back-forth {
    display: flex;
    justify-content: space-between;
    margin-block-start: -3em;
}

.back-forth a:is(:visited, :not(:visited)) {
    background-color: var(--walo);
    color: var(--pimeja);
    text-decoration: none;
    box-shadow: 0 0 0 var(--thin, 0.1em) var(--pimeja);
    text-transform: uppercase;
    padding-inline: 0.25em;

}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.pseudo-footer {
    background-color: var(--contrast-black);
    width: 100%;
    margin-block-start: 0.1em;
    margin-inline: auto;
    box-shadow: 0 0 0 var(--thin, 0.1em) var(--pimeja);
    color: var(--contrast-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 0.15em;
}

.if-enabled {
    display: none;
}

.pseudo-footer a:is(:visited, :not(:visited)) {
    color: var(--contrast-white);
    text-decoration: underline;
}

.pseudo-footer * {
    flex: 1;
    text-align: center;
}

.reading-list-checkbox {
    display: none;
    text-align: center;
    line-height: 1em;
}

.reading-list-checkbox label {
    margin-block: 3em;
}


.complicated-license {
    margin: 2em 2em 0 2em;
    font-size: 0.7em;
    line-height: 1em;

}


.expanded-menu {
    display: none;
    flex-wrap: wrap;
}

fieldset:has(#rc-5a) {
    flex: 1;
}

fieldset:has(#rc-4a) {
    flex: 2;
}




.expanded {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    border-radius: none;
    border: none;
    color: var(--contrast-black);
    border: 0.1em solid var(--contrast-black);
    background-color: var(--contrast-white);
}





@media (max-width: 32em) {
    .selo {
        padding-inline: 0;
        padding-block-end: 2em;
        margin-inline: 0;
        border-block: var(--thin, 0.2em) solid var(--pimeja);
        ;
        box-shadow: none;
    }

    .pseudo-footer {
        margin-block-start: 0;
    }

    figure img {
        max-height: 100%;
        width: 100%;
        max-width: 100%;

    }

    figcaption {
        max-width: 100%;
        width: 100%;
    }

    .back-forth {
        justify-content: center;
    }

}