.cards {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card a:is(:visited,:not(:visited)){
    display: flex;
    flex-direction: column;
    border: 0.3em solid var(--bold-outline);
    border-radius: 0.2em;
    position: relative;
    margin: 0.4em;
}
.card div{
    position: absolute;
    background-color: black;
    color: white;
    padding: 0.75em;
    opacity: 0.85;
    bottom: 0;
}
.card div:has(.wordcount){
    padding: 0.2em;
    padding-block: 0;
}
.card .wordcount{
    display: block;
    font-size: 0.7em;


}
.card {
    flex: 25%;
    flex-grow: 0;
    margin: 0;

}
.card:last-of-type{
    justify-self: first baseline;
}

.card img {
    max-width: 100%;
    min-width: 8em;
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
}



ul.circles{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25em;
    justify-content: space-evenly;
    max-width: 30em;
    margin: 0 auto;

}
.circle {
    margin: 0;
    border-radius: 50%;
    border: 0.4em solid var(--pimeja-lili);
    box-shadow: inset 0 0 0 0.5em var(--walo-pimeja);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8em;
    width: 8em;
}



.collage{
    display: flex;
    max-width: 100%;
    height: 7em;

}
.collage img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    filter: sepia(60%);
}

ul:has(.collage){
    display: flex;
    flex-direction: column;
    gap: 2em;

}

li:has(.collage) div:not(:has(img)){
    padding: 1em 1em 0 1em;
}
li:has(.collage) h2{
    font-size: 1em;
    margin: 0;
}


li:has(.collage) {
    border: 0.3em solid var(--bold-outline);
    margin: 0;
    list-style-type: none;
    border-radius: 0.2em;
}

/*notes on language use section*/

summary :is(h2, h3, h4, h5){
    display: inline-block;
    margin: 0;
}
details:has(summary :is(h2, h3, h4, h5)){
    border: 0.1em solid var(--pimeja);
    border-radius: 0.2em;
    padding: 0.5em;
    margin-block-end: 0.5em;

}
details:has(:is(h3,h4,h5)) p:first-of-type{
    margin-block-start: 1em;
}

/*utility*/

.smaller-text{
    font-size: 0.9em;
}

    figure img {
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        border: 0.1em solid var(--pimeja);

    }

    figcaption {
        max-width: 100%;
        width: 100%;
    }


.back-forth{
    display: flex;
    justify-content: space-between;
    margin-block-start: -1em;
}

.back-forth a:is(:visited, :not(:visited)){
    background-color: var(--walo);
    color: var(--pimeja);
    text-decoration: none;
    box-shadow: 0 0 0 0.1em var(--pimeja);
    text-transform: uppercase;
    padding-inline: 0.25em;

}

@media (max-width: 32em) {

    .back-forth{
        justify-content: center;
    }

}
