---
layout: _layouts/bt/texts-base.html
stylesheet: /assets/css/tp.css
title: Reading Tracker
tags: generalb
description: "Track your progress while reading accessible Beginner Texts in Toki Pona."
---

<style>
    .checklists {
        display: flex;
        flex-wrap: wrap;

    }






    tr {
        border-bottom: var(--thin, 0.1em) solid var(--pimeja);
        ;
    }

    tr td:last-child {
        justify-self: flex-end;
    }

    tr th:first-child {
        justify-self: flex-start;
    }

    table {
        width: 100%;

        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 10em;
    }

    tbody,
    thead {
        padding-inline: 0.5em;

        display: grid;
        break-inside: auto;
    }

    tbody {
        flex: 1;

    }

    thead {
        flex-shrink: 0;

    }

    main {
        width: 100%;
    }


    .lili tr {
        display: grid;
        grid-template-columns: 1fr 3.5em;

    }

    :is(.suli, .wawa) tr {
        display: grid;
        grid-template-columns: 1fr 2em 3.5em;

    }

    :is(.suli, .wawa) tr[rowspan] {
        grid-column: 2;
    }

    /*this exclusively targets 'page'rows*/
    :is(.suli, .wawa) tbody tr:not(:has([rowspan])) {
        display: grid;
        grid-template-columns: 1fr 3.5em;
    }

    :is(.suli, .wawa) thead tr {
        display: flex;
        justify-content: space-between;
    }

    /*targeting 'page' cells*/
    :is(.suli, .wawa) tbody tr:not(:has([rowspan])) td:first-child {
        font-size: 0.8em;
        padding-inline-start: 2em;
    }

    .blend-in {
        color: var(--walo);
    }

    details :is(h2) {
        font-size: 1em;
    }

    button:not(:has(svg)) {
        margin-top: 0.5em;
        display: block;
        color: var(--pimeja);
        font-size: 1em;
        border: var(--thin, 0.1em) solid var(--pimeja);
        ;
        border-radius: 0.25em;
        padding: 0.2em;
        background-color: var(--walo);
    }

    button:not(:has(svg)):is(:hover, :focus-visible) {
        border-color: var(--bold-outline);
    }

    .postchallenge {
        display: block;
    }

    .prechallenge {
        display: none;

    }

    caption {
        background-color: var(--pimeja);
        color: var(--walo);
    }

    .easy-exit {
        display: grid;
    }

    .easy-exit button {
        font-size: 0.8em;
        max-width: max-content;
        justify-self: flex-end;
        margin-block-start: -1em;
        margin-block-end: 1em;

    }

    :is(.easy-exit button, .danger):is(:hover, :focus-visible) {
        border-color: var(--ike);

    }

    .achievements {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        column-gap: 0.5em;
        margin: 0;
        padding: 0;
    }

    .achievements li:not(:has(img)) {
        max-width: none;
        display: block;
    }

    .achievements h3 {
        font-size: 1em;
    }

    .achievements li {
        max-width: 10em;
        margin: 0;
        display: grid;
        justify-items: center;
        align-items: first-baseline;
        text-align: center;
        grid-template-rows: 4em 5em;
    }

    .achievements span {
        align-self: first baseline;
        line-height: 1em;
        margin-block-start: 1em;

    }

    .achievements img {
        max-width: 5em;
        z-index: 0;

    }

    .achievements .img-wrap {
        width: 5em;
        height: 5em;
        border-radius: 50%;
        background-color: rgb(235, 233, 225);
        border: var(--thin, 0.5em) solid var(--walo-pimeja);
        display: grid;
        place-items: center;
        z-index: 1;

    }

    .unearned li {
        filter: grayscale(100%);
    }

    .dangerous {
        border-block-start: 0.1em dashed var(--pimeja);
        margin-block-start: 3em;
    }

    #progress-container {
        border: var(--thin, 0.2em) solid var(--pimeja);
        grid-column-start: 1;
        grid-column-end: 3;

    }

    #progress-bar {
        height: 2em;
        background-color: var(--bold-outline);
    }

    .stats-head {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    :is(.stats-head, .stats-tail) p {
        font-size: 0.9em;

    }

    .stats-head :nth-child(2) {
        align-self: last baseline;
        justify-self: flex-end;
        text-align: right;
    }

    .stats-tail {
        display: flex;
        column-gap: 0.2em;
        flex-wrap: wrap;

    }

    .stats-tail p {
        flex: 1;
        min-width: 8em;

    }

    .delivery svg {
        max-width: 100%;
        width: 2em;
        height: 2em;
    }

    tr:has(.complete) {
        background-color: var(--completed);

    }

    tr:has(.incomplete) {
        background-color: var(--incomplete);


    }

    dialog:open {
        position: fixed;
        display: flex;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        flex-direction: column;
        align-items: center;
    }

    .postchallenge details :is(figure, p) {
        padding-inline: 1em;
    }

    .postchallenge details img {
        max-width: 100%;
        filter: brightness(var(--brightness));
    }

    .postchallenge details h3 {
        font-size: 1em;
        padding-inline: 0.75em;

    }

    dialog button {
        margin: 0.5em auto;
    }

    dialog fieldset {
        border: none;
    }

    .skip-in-main {
        position: relative;

    }

    :is(.skip-in-main a:not(:focus):not(:active), .blend-in) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    .skip-in-main a:focus-visible {
        position: absolute;
        display: block;
        right: 0;
        width: auto;
        height: auto;
        top: 0;
        margin-block-start: -1em;
    }

    .imgintro {
        max-width: 100%;
        width: 100%;
        min-width: 13em;
    }

    .imgsintrosplithalves {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5em;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }
    .imgsintrosplithalves strong{
        text-align: center;
    }


    .imgsintrosplithalves * {
        flex: 1;
    }

    h1 {
        text-align: center;
    }
</style>


<main>
    <div class="easy-exit">
        <button class="postchallenge" id="exit-challenge">Exit the Challenge <br>(Data is Saved)</button>

        <h1 id="main-content">Reading Tracker</h1>






    </div>


    <div class="prechallenge">
        <h2>Welcome</h2>

        <p>The Reading Tracker, as the name suggests, provides a way to track your reading.<br>
            When activated, you can mark stories as completed.</p>

        <div class="imgsintrosplithalves">

            <div><p><strong>Stats measured include:</strong></p>
                <ul>
                    <li>Total Words Read</li>
                    <li>Total Pages Read</li>
                    <li>Percentage of the Site Completed</li>
                    <li>Achievements Earned.</li>
                </ul>
            </div>
            <img class="imgintro" src="/toki-pona/beginner-material/assets/tutorials/number-up.png" alt="Preview of the reading tracker with a stats section and checklist table of story titles.">
        </div>


        <p>You can pause the tracker at any time without resetting your progress.<br>
            But if you want to reset your progress, you can also do that too.</p>

        <h2>Would you like to try it out?</h2>

        <button id="challenge-accepted">Activate Reading Tracker</button>
    </div>
    <div class="postchallenge">

        <p>
            Beginner Texts in Toki Pona currently has <span id="total-pages">?</span>
            pages. Read pages to progress and unlock achievements!
        </p>
        <details>
            <summary>
                <h2>About</h2>

            </summary>

            <h3>How To Track</h3>

            <figure>
                <figcaption>
                    When the Tracker is active, a link to the Tracker (the first element, circled in green) and a
                    checkbox (the second element, squared off in red) will now be visible.
                </figcaption>
                <img src="/toki-pona/beginner-material/assets/tutorials/reading-tracker.png"
                    alt="Screenshot of the reading interface, attention drawn to the bottom row of content.">
            </figure>

            <p>The stories that you mark as read will be saved directly to your browser. If you view Beginner Texts in
                Toki Pona in incognito mode, or using a different browser, or a different device, you will not be able
                to access your progress.</p>

            <p>New stories being released to the site will not effect the stories that you've already read.</p>



            <h3>Philosophy Behind the Tracker</h3>
            <p>Please use this site however you like. The Reading Tracker encourages you to read <em>every</em> text on
                the site, but not all the stories may be appealing or even enjoyable for you.</p>
            <p>I've included this because I'm the kind of person who, as a voracious reader in my youth, liked to keep
                lists of books that I've read as a matter of principle.</p>
            <p>I know that if I was just starting out on my reading journey, I would have appreciated something like
                this. But you might be a different kind of person, and that's totally okay! Feel free to use the Reading
                Tracker only to the extent that is motivating and sustainable. Also, feel free to take a break from it
                by pressing the 'Exit the Challenge' button in the top right of this page.</p>

            <h3>Measuring Progress and Detailled Statistics</h3>
            <p>Progress is measured as the amount of words you've read compared to the total amount of words available
                on the site.</p>

            <p>If you are techy and are itching to get even more detailed statistics, take a look at the output from the
                console. Also, there is likely a way for you to download and upload your own localStorage if you are
                super keen on not losing your progress.</p>



        </details>



        <div class="stats-head">
            <h2>Stats</h2>
            <p id="stats_percentDone">Your Progress:</p>
            <div id="progress-container">
                <div id="progress-bar"></div>
            </div>
        </div>
        <div class="stats-tail">
            <p id="stats_wordTotal">Total Words Read:</p>
            <p id="stats_pageTotal">Total Pages Read:</p>
            <p id="stats_storyTotal">Total Stories Read:</p>
            <p id="stats_achievementsTotal">Achievements Secured:</p>
        </div>



        <div class="skip-in-main">
            <h2 id="return-to-table">Checklists</h2>
            <a href="#skip-table">Skip Table</a>
        </div>

        <div class="checklists">
            <table class="suli">
                <caption>
                    <span>Topic Texts</span>
                    <span class="tally"> {{collections.suli.length}}/{{collections.suli.length}}</span>
                </caption>
                <thead>
                    <th>Story</th>
                    <th><span class="blend-in">Subpages</span> </th>
                    <th>Status</th>
                </thead>
                <tbody>
                    {% for post in collections.suli %}
                    {% if post.data.tags contains 'sequence' %}
                    {% elsif post.data.tags contains 'suli' %}
                    <tr>
                        <td rowspan="{{ post.data.pageURLs.length | plus: 1}}"><a class="target"
                                href="{{ post.url }} ">{{
                                post.data.title}}</a></td>
                        <td><span class="blend-in">All</span> </td>
                        <td class="delivery">{{ post.data.pageURLs.length }}/{{ post.data.pageURLs.length }}</td>
                    </tr>
                    {% assign number = 1 %}
                    {% for link in post.data.pageURLs %}
                    <tr>
                        <td><a class="target" href="{{ link }} ">Page {{ number }}</a></td>
                        {% assign number = number | plus: 1 %}
                        <td class="delivery">✔️</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td><a class="target" href="{{ post.url }} ">{{ post.data.title}}</a></td>
                        <td></td>
                        <td class="delivery">✔️</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <table class="lili">
                <caption>
                    <span>Bite-Sized</span>
                    <span class="tally"> {{collections.liliwc.length}}/{{collections.liliwc.length}}</span>
                </caption>
                <thead>
                    <th>Story</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    {% for post in collections.liliwc %}
                    <tr>
                        <td><a class="target" href="{{ post.url }} ">{{ post.data.title}}</a></td>
                        <td class="delivery">✔️</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="wawa">
                <caption>
                    <span>Quest Texts</span>
                    <span class="tally"> {{collections.wawa.length}}/{{collections.wawa.length}}</span>
                </caption>
                <thead>
                    <th>Story</th>
                    <th><span class="blend-in">Subpages</span> </th>
                    <th>Status</th>
                </thead>
                <tbody>
                    {% for post in collections.wawa %}
                    {% if post.data.tags contains 'sequence' %}
                    {% elsif post.data.tags contains 'wawa' %}
                    <tr>
                        <td rowspan="{{ post.data.pageURLs.length | plus: 1}}"><a class="target"
                                href="{{ post.url }} ">{{
                                post.data.title}}</a></td>
                        <td><span class="blend-in">All</span> </td>
                        <td class="delivery">{{ post.data.pageURLs.length }}/{{ post.data.pageURLs.length }}</td>
                    </tr>
                    {% assign number = 1 %}
                    {% for link in post.data.pageURLs %}
                    <tr>
                        <td><a class="target" href="{{ link }} ">Page {{ number }}</a></td>
                        {% assign number = number | plus: 1 %}
                        <td class="delivery">✔️</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td><a class="target" href="{{ post.url }} ">{{ post.data.title}}</a></td>
                        <td></td>
                        <td class="delivery">✔️</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="skip-in-main">
            <a href="#return-to-table">Return to Table Start</a>

            <h2 tabindex="-1" id="skip-table">Achievements</h2>
        </div>

        <!-- images from https://generator.opendoodles.com/ -->

        <h3>Earned</h3>
        <ul role="list" class="achievements earned"></ul>

        <h3>Unearned</h3>

        <ul role="list" class="achievements unearned">


        </ul>

        <section aria-labelledby="danger-heading" class="dangerous">
            <h2 id="danger-heading">DANGER ZONE</h2>
            <p id="dangerous-warning">This action cannot be reversed!</p>

            <button aria-haspopup="dialog" aria-describedby="dangerous-warning" class="danger" id="wipe-data">Reset My
                Reading Data</button>
            <dialog id="confirmation" closedby="none">
                <h3>Hold on There!</h3>
                <fieldset>
                    <p>Are you sure you want to wipe the names of all stories you have marked as 'Read' from your
                        device's cache?</p>
                    <button autofocus id="confirm-donot-wipe">No, do not wipe my data</button>
                    <button id="confirm-wipe">Yes, wipe my data. I understand that my data cannot be retrieved.</button>
                </fieldset>
            </dialog>
        </section>





    </div>

</main>
<script>
    const json = '{{ collections.wcdata | jsonify }}';
    let storyData = JSON.parse(json);
</script>
<script src="/scripts/gamification.js"></script>