---
layout: _layouts/bt/texts.html
title: Site Map
---

<h2>General Pages</h2>



<ul>

{% assign pages = collections.btextsite | sort: "data.title" %}
{% for post in pages %}
    <li><a href="{{ post.url }} ">{{ post.data.title}}</a></li>


{% endfor %}
</ul>


<h2>Stories</h2>

{% assign pages = collections.allstories | sort: "data.title" %}
<ul>

{% for post in pages %}
    {% if post.data.tags contains 'sequence' %}
    {% elsif post.data.tags contains 'suli' or  post.data.tags contains 'wawa' %}
    <li><a href="{{ post.url }} ">{{ post.data.title}}</a></li>
    <ul>
                {% assign number = 1 %}

        {% for link in post.data.pageURLs %}

        <li><a href="{{ link }} ">Page {{ number }}</a></li>
        {% assign number = number | plus: 1 %}

        {% endfor %}
    </ul>

    {% else %}

    <li><a href="{{ post.url }} ">{{ post.data.title}}</a></li>
    {% endif %}
{% endfor %}
</ul>




