---
layout: _layouts/bt/texts.html
title: Theme Texts
---

<style>
  .chromium-fix{
    height: 100%;
    object-fit: cover;
  }
  .chromium-fix img{
    min-height: 100%;
    width: 100%;
  }
</style>

<p>Each Theme text has many pages. Each page of these texts has a contextualizing picture and only five lines of text. </p>

<ul class="stories">
  {% for item in collections.suli %}
  <li>
    <div>
      <a href="{{ item.url }}">
        <h2 lang="tok">{{ item.data.title }}</h2>
      </a>
      {{ item.content }}
    </div>
    <div role="img" aria-label="{{ item.data.alt }}" class="collage">
      {% for link in item.data.mediaFiles %}
      <div class="chromium-fix"><img aria-hidden="true" src="{{ link }}" alt=""></div>
      {% endfor %}
    </div>
  </li>
  {% endfor %}
</ul>